body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{color:grey;
font-family:verdana
}

.maindiv{
    background-color:white;
    color:black;
    width:600px;
    padding:20px;
    border-radius:25px;
    align: center;
}

.sidediv{
    padding-left:50px;
}

.spanblock{
    display:block;
    padding:10px 0px 0px 0px;
}

.spancolor{
    background:yellow;
}


